.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    width: 15%;
}

.center-content {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}